<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p><strong>ID:</strong> {{ DeviceID }}</p>
      <p><strong>Última medición de tensión:</strong> {{ lastMeasurement }} mV</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="toggleMqtt(DeviceID, mqttChannel)"> Toggle canal MQTT: 
    {{ mqttChannel === 'Habilitada' ? 'Deshabilitar' : 'Habilitar'}} 
  </ion-button>

  <ion-button expand="block" color="medium" [routerLink]="['/device', DeviceID, 'measurements']">
    Ver historial de mediciones
  </ion-button>
</ion-content>
