<ion-header>
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    @if (DevicesGroup.length > 0) {
      <ion-list inset="true">
        @for (d of DevicesGroup; track d.dispositivoId) {
        <ion-item button detail="true" [routerLink]="['/device', d.dispositivoId]" routerDirection="forward">
          <ion-label>
            <h2>{{ d.nombre }}</h2>
            <p>Ubicación: {{ d.ubicacion }}</p>
            <!-- <p>Electroválvula n°: {{ d.electrovalvulaId }}</p> -->
          </ion-label>
        </ion-item>
        }
      </ion-list>
    }
</ion-content>
