<ion-header>
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    @if (DevicesGroup.length > 0) {
      <ion-list inset="true">
        @for (d of DevicesGroup; track d.DeviceID) {
        <ion-item button detail="true" [routerLink]="['/device', d.DeviceID]" routerDirection="forward">
          <ion-label>
            <h2>{{ d.DeviceID }}</h2>
            <!-- <p>Ubicación: {{ d.ubicacion }}</p> -->
          </ion-label>
        </ion-item>
        }
      </ion-list>
    }
</ion-content>
